<div class="modal-header" style="background-color: rgb(55, 135, 226);">
    <h4 class="modal-title pull-left" style="color: white;">{{ title }}</h4>
    <button type="button" class="btn btn-dark close pull-right" aria-label="Close" (click)="modalService.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" style="padding: 30px;">
    <div class="row" *ngFor="let subCategoryForCategory of subCategoriesForCategory; let i = index">
        <div class="col-6">
            <label class="form-label" for="category">Category</label>
            <ng-select id="category" [(ngModel)]="subCategoryForCategory.category" [items]="jewelCategories" [closeOnSelect]="true"
                (change)="assignCategory($event, i)"></ng-select>
        </div>
        <div class="col-6">
            <mat-form-field class="example-chip-list" style="width: 100%; padding-top: 24px;">
                <mat-chip-list #chipListSubCategory>
                    <mat-chip *ngFor="let category of subCategoryForCategory.subCategory" [selectable]="selectable" [removable]="removable"
                        (removed)="remove(category, 'subCategory', i)">
                        {{category}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="New Subcategory..." [matChipInputFor]="chipListSubCategory"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event, 'subCategory', i)">
                </mat-chip-list>
            </mat-form-field>
        </div>
    </div>
    <button style="margin-bottom: 20px;" class="btn btn-primary" (click)="addCategoryField()">Add Category</button>
    <div class="row">
        <mat-form-field class="example-chip-list">
            <mat-chip-list #chipListPurity>
                <mat-chip *ngFor="let value of purity" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(value, 'purity')">
                    {{value}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="New Purity..." [matChipInputFor]="chipListPurity"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event,'purity')">
            </mat-chip-list>
        </mat-form-field>
        <mat-form-field class="example-chip-list">
            <mat-chip-list #chipListMetalType>
                <mat-chip *ngFor="let value of metalType" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(value, 'metalType')">
                    {{value}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="New MetalType..." [matChipInputFor]="chipListMetalType"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event, 'metalType')">
            </mat-chip-list>
        </mat-form-field>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="submit()">
        Submit
    </button>
    <button type="button" class="btn btn-danger" (click)="cancel()">
        Cancel
    </button>
</div>