<body class="text-center">
    <div *ngIf="inLoginMode" class="flex-container">
        <div class="content-container">
            <div class="form-container">
                <form [formGroup]="signInFormGroup">
                    <h1>
                        Login
                    </h1>
                    <br>
                    <br>
                    <span class="subtitle">EMAIL:</span>
                    <br>
                    <input type="email" formControlName="email" value="">
                    <br>
                    <span class="subtitle">PASSWORD:</span>
                    <br>
                    <input type="password" formControlName="password" value="">
                    <br><br>
                    <button style="width: 150px; margin-right: 15px;" type="submit" (click)="loginUser()" class="submit-btn">SUBMIT</button>
                    <button style="width: 150px;" type="register" (click)="showRegistrationForm()" class="submit-btn">REGISTER</button>
                </form>
                <p style="color: red; margin: 20px;" *ngIf="isInvalidUser">Invalid Email or password</p>
                <button style="color: rgba(255, 255, 255, 0.555); margin: 30px; text-transform: uppercase;" class="btn" (click)="loginDefaultUser()">Login as Guest</button>
            </div>
        </div>
        
        <footer style="color: rgba(255, 255, 255, 0.555);" class="mt-5 mb-3 text-body-secondary fixed-bottom">© VReon</footer>
    </div>
    <div *ngIf="!inLoginMode" class="flex-container">
        <div class="content-container">
            <div class="form-container">
                <form [formGroup]="registerFormGroup">
                    <h1>
                        Register
                    </h1>
                    <br>
                    <br>
                    <span class="subtitle">NAME:</span>
                    <br>
                    <input type="text" formControlName="name" value="">
                    <br>
                    <span class="subtitle">EMAIL:</span>
                    <br>
                    <input type="email" formControlName="email" value="">
                    <br>
                    <span class="subtitle">PASSWORD:</span>
                    <br>
                    <input type="password" formControlName="password" value="">
                    <br>
                    <span class="subtitle">LOGO:</span>
                    <br>
                    <input type="file" value="" (change)="onLogoSelected($event)">                    
                    <br>
                    <button style="width: 300px;" type="register" (click)="registerUser()" class="submit-btn">REGISTER</button>
                </form>
            </div>
        </div>
        
        <footer style="color: rgba(255, 255, 255, 0.555);" class="mt-5 mb-3 text-body-secondary fixed-bottom">© VReon</footer>
    </div>
</body>