<div class="row">
    <div style="float: right; padding: 10px;">
        <button class="btn btn-secondary" (click)="openFileUploadModal()">Upload</button>
    </div>
</div>
<div class="row">
    <div class="col" *ngFor="let jewel of jewelInfo">
        <div class="card" style="width: 18rem;">
            <img src="data:image/png;base64,{{ jewel.image }}" style="max-width: 300px; height: auto;" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{ jewel.category }}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a class="btn btn-primary" (click)="goToJewelPage(jewel)">Go somewhere</a>
            </div>
          </div>
    </div>
</div>