<div style="background-color: black;">
    <img src="../../../assets/jewelar-clear.jpg" style="width: 100%;">
</div>
<div style="background-image: url('../../../assets/video-bg.jpg'); background-size: 100%; display:flex; justify-content: center;">
    <app-video-ar-content></app-video-ar-content>
</div>
<div>
    <div class="row">
        <div style="float: right; padding: 10px;">
            <button class="btn btn-secondary" (click)="openFileUploadModal()">Upload</button>
        </div>
    </div>
</div>